<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Dsii-Calendario</title>
</head>
<body>
    <form action="/addequipe" method="post">
        <input type="text" name="nome" placeholder="nome">
        <input type="color" name="cor" placeholder="cor">
        <input type="submit">
    </form>
    <a href='/login'>Login</a>
</body>
</html>