<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Dsii-Calendario</title>
</head>
<body>
    <h1 class="center">Equipes de <%=user.nome%></h1>
    <ul>
        <%equipes.map((e) => {%>
            <li style="color: <%=e.cor%>"><a class='nonlink' href="equipe/<%=e.id%>"><%=e.nome%></a></li>
        <%})%>
    </ul>
</body>
</html>