<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        type="text/css" />
    <title>Dsii-Calendario</title>
</head>

<body>
    <div class="containerInicio">


        <div class="containerimgInicio">



            <img src="./imgs/logo_semfundo.png" alt="logo" />

            
        </div>
        
        <div class="msgInicio">
            
            <span> Seja Bem Vindo(a), <%= user.nome %> </span>
            
            <a href="/sair"> Desconectar</a>
            
            <% if (erro=='erroEvento' ) { %>
            
                <span class="errospan red"> <h2>Data do evento está em conflito</h2></span>
            
                <% } %>
        </div>


        <div class="containerPesquisaInicio">

            <form action="pesquisarUser" method="post">



                <input type="text" name="search" placeholder="Pesquisar Usuarios..." />

                <div>

                    <i class="fa-solid fa-magnifying-glass"></i>

                </div>



                <input type="submit" hidden id="btnForm" />

            </form>


        </div>



        <div class="containerMenusInicio">


            <a href="/meuperfil">


                <i class="fa-solid fa-user-gear"></i>


                <span> Meu Perfil </span>





            </a>



            <a href="/equipes">


                <i class="fa-solid fa-chalkboard-user"></i>


                <span> Meus Times </span>





            </a>



            <a href="/calendario/<%=user.id%>">


                <i class="fa-solid fa-calendar-days"></i>


                <span> Calendario </span>





            </a>


            <a href="/meuperfil">


                <i class="fa-solid fa-paper-plane"></i>


                <span> Convites </span>





            </a>






        </div>



    </div>
</body>

</html>