<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dsii-Calendario</title>
</head>
<body>
    INDEX
    <a href="login">Login</a>
    <a href="user">User</a>
    <a href="calendario">Calendario</a>
    <a href="equipe">Equipe</a>
</body>
</html>