<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        type="text/css" />
    <title>Dsii-Calendario</title>
</head>

<body>
    <div class="containerLogin">
        <div class="containerImgLogin">

            <img src="./imgs/logo_fundobranco.png" alt="logo" />

        </div>

        <div class="containerFormsLogin">

            <div class="containerTitutloForm">
                <span>
                    <%= login ? "Login" : "Cadastro" %>
                </span>
            </div>

            <%if (login) {%>
                <form action="login" method="post">
                    <div>
                        <div>
                            <i class="fa-solid fa-at"></i>
                        </div>
                        <input type="email" name="email" placeholder="email">
                    </div>
                    <div>
                        <div>
                            <i class="fa-solid fa-asterisk"></i>
                        </div>
                        <input type="password" name="senha" placeholder="senha">
                    </div>
                    <% if (erro == 'errologin') { %>
                                
                        <span class="errospan"> Senha e Email não conferem  </span>  

                        <% } %>
                    <input type="submit" id="btnForm">
                </form>
                <%} else {%>
                    <form action="cadastro" method="post">
                        <div> 
                            <div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                        <input type="text" name="nome" placeholder="nome">
                        </div>
                        <% if (erro == 'nome') { %>
                                
                            <span class="errospan"> Nome inválido ou não inserido  </span>  

                            <% } %>
                        <div>
                            <div>
                                <i class="fa-solid fa-at"></i>
                            </div>
                            <input type="email" name="email" placeholder="email">
                           
                        </div>
                        <% if (erro == 'email') { %>
                                
                            <span class="errospan"> Email inválido ou não inserido  </span>  

                            <% } %>
                            <% if (erro == 'jaexiste') { %>
                                
                                <span class="errospan"> Email já utilizado!  </span>  
            
                                <% } %>
                        <div>
                            <div>
                                <i class="fa-solid fa-asterisk"></i>
                            </div>
                            <input type="password" name="senha" placeholder="senha">
                        </div>
                        <% if (erro == 'senha') { %>
                                
                            <span class="errospan"> Senha não inserida  </span>  

                            <% } %>
                        <input type="submit" id="btnForm">
                    </form>
                    
                <%}%>

    

                    <div class="ButaoFormLoginRegistro">
                         <span>
                             <%= login ? "Entrar" : "Registrar - se" %>
                        </span>
                    </div>

                    <% if(login) { %>

                        <div class="containerMsgFinal">

                            <span> Não tem Login? </span>
                            <a href='/login?cadastro'>Registrar-se</a>

                        </div>
                    
                        <% }else { %>

                            <div class="containerMsgFinal">

                                <span>Já tem Login? </span>
                                <a href='/login'>Logue-se</a>

                            </div>

                            <% } %>


        </div>

    </div>



    <script>

        let btn = document.querySelector("#btnForm")
        let click = document.querySelector(".ButaoFormLoginRegistro")
        click.addEventListener('click', () => {
            btn.click()
        })

    </script>

</body>

</html>